# output files
shebang_report.txt
ascii_compliance.txt
pyflakes.txt
*.html
*.od?
bbq-*.txt
qti*.zip
selftest-*.html
.DS_Store

# Byte-compiled / optimized / DLL files
*.py[cod]

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

